# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.Python
env/
venv/
ENV/

# Packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Sphinx documentation build
docs/build/


